<div *ngIf="roleStorage=='admin'">
  <table>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('read',null)">Wyswietl rezerwacje</button>
    </td>
  </table>

  <div *ngIf="showReservationPage=='read'">

    <table >
      <tr>
        <td>Nr rezerwacji</td>
        <td>Nr biletów</td>
        <td>Seanse</td>
      </tr>
      <tr *ngFor="let d of reservations">
        <td>{{d.id}}</td>
        <td >
          <div *ngFor="let t of d.tickets">{{t.id}}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.event.name}}}</div>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteReservation(d.id)"> Usun</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="roleStorage=='user'">
  <table>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('read',null)">Wyswietl rezerwacje</button>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="addReservation(sendReservation)">Dodaj rezerwacje</button>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('read',null)">Zobacz rekomendacje</button>
    </td>

  </table>

  <div *ngIf="showReservationPage=='read'">
    <table >
      <tr>
        <td>Nr rezerwacji</td>
        <td>Nr biletów</td>
        <td>Seanse</td>
        <td>Miejsce</td>
      </tr>
      <tr *ngFor="let d of reservations">
        <td>{{d.id}}</td>
        <td >
          <div *ngFor="let t of d.tickets">{{t.id}}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.event.name}}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.seat}}}</div>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteReservation(d.id)"> Usun</button>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="pageShowed('edit',d)"> Edytuj</button>
        </td>
      </tr>
    </table>
  </div>


  <div *ngIf="showReservationPage=='add'">
    <form [formGroup]="secondFormGroup">
      Dodawanie

      <table>
        <tr>
          <td>Seans</td>
          <td>Miejsce</td>
          <td>Zniżka</td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-select formControlName="event">
                <mat-option *ngFor="let s of searchEvent" value="{{s}}" >{{s.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          <td>
            <mat-form-field>
              <input matInput placeholder="1" formControlName="seat" >
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select formControlName="discount">
                <mat-option value="true" >Tak</mat-option>
                <mat-option value="false">Nie</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <br>
    </form>
    <button mat-raised-button color="primary" (click)="addTicket(secondFormGroup.value)" > Dodaj seans</button>
  </div>
  <div *ngIf="showReservationPage=='edit'">
    <form [formGroup]="firstFormGroup">
    </form>
  </div>
</div>
