<div *ngIf="roleStorage=='admin'">
  <table>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('read',null)">Wyswietl rezerwacje</button>
    </td>
  </table>

  <div *ngIf="showReservationPage=='read'">

    <table >
      <tr>
        <td>Nr rezerwacji</td>
        <td>Nr biletów</td>
        <td>Seanse</td>
      </tr>
      <tr *ngFor="let d of reservations">
        <td>{{d.id}}</td>
        <td >
          <div *ngFor="let t of d.tickets">{{t.id}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.event.name}}</div>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteReservation(d.id)"> Usun</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="roleStorage=='user'">
  <table>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('read',null)">Wyswietl rezerwacje</button>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="addReservation(this.sendReservation)">Dodaj rezerwacje</button>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="pageShowed('recomendation',null)">Zobacz rekomendacje</button>
    </td>

  </table>

  <div *ngIf="showReservationPage=='read'">
    <table >
      <tr>
        <td>Nr rezerwacji</td>
        <td>Nr biletów</td>
        <td>Seanse</td>
        <td>Miejsce</td>
      </tr>
      <tr *ngFor="let d of reservations">
        <td>{{d.id}}</td>
        <td >
          <div *ngFor="let t of d.tickets">{{t.id}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.event.name}}</div>
        </td>
        <td>
          <div *ngFor="let t of d.tickets">{{t.seat}}</div>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteReservation(d.id)"> Usun</button>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="editReservation(d)"> Edytuj</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="showReservationPage=='recomendation'">
    <table>
      <tr>
        <td>Seans</td>
        <td>Opis</td>
        <td>Dostepne bilety</td>
        <td>Data</td>
        <td>Miejsce seansu</td>
        <td>Gatunek</td>
        <td>Cena normalna</td>
        <td>Cena ulgowa</td>
      </tr>
      <tr *ngFor="let dd of events">
        <td>{{dd.name}}</td>
        <td>{{dd.description}}</td>
        <td>{{dd.ticketsAvailable}}</td>
        <td>{{dd.date}}</td>
        <td>{{dd.place}}</td>
        <td>{{dd.eventType}}</td>
        <td>{{dd.normalTicketPrice}}</td>
        <td>{{dd.discountTicketPrice}}</td>
      </tr>
      <tr *ngFor="let dd2 of events2">
        <td>{{dd2.name}}</td>
        <td>{{dd2.description}}</td>
        <td>{{dd2.ticketsAvailable}}</td>
        <td>{{dd2.date}}</td>
        <td>{{dd2.place}}</td>
        <td>{{dd2.eventType}}</td>
        <td>{{dd2.normalTicketPrice}}</td>
        <td>{{dd2.discountTicketPrice}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="showReservationPage=='add'">
    <form [formGroup]="secondFormGroup">
       Numer rezerwacji: {{sendReservation.id}}<br>

      <table>
        <tr>
          <td>Seans</td>
          <td>Miejsce</td>
          <td>Zniżka</td>
        </tr>
        <tr *ngFor="let ti of searchTickets">
          <td >
            {{ti.event.name}}
          </td>
          <td>
            {{ti.seat}}
          </td>
          <td>
            <div *ngIf=" ti.discount ">tak</div>
            <div *ngIf=" !ti.discount ">nie</div>
          </td>
          <td>
            <button mat-raised-button color="primary" (click)="deleteTicket(ti)"> Usun</button>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-select formControlName="id">
                <mat-option *ngFor="let s of searchEvent" value="{{s.id}}" >{{s.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          <td>
            <mat-form-field>
              <input matInput placeholder="1" formControlName="seat" >
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select formControlName="discount">
                <mat-option value="true" >Tak</mat-option>
                <mat-option value="false">Nie</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <br>
    </form>
    <button mat-raised-button color="primary" (click)="addTicket(secondFormGroup.value)" > Dodaj seans</button>
  </div>
  <div *ngIf="showReservationPage=='edit'">
    <form [formGroup]="firstFormGroup">
    </form>
  </div>
</div>
