<mat-card class="example-card">
  <mat-card-header>
    <div *ngIf="role!='admin'&& role!='user'">
    <mat-card-title>Zaloguj się</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <div *ngIf="role!='admin'&& role!='user'">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Login" [(ngModel)]="login" name="login" required>
              <mat-hint>Pole jest wymagane!</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Hasło" [(ngModel)]="password" type="password" name="password" required>
              <mat-hint>Pole jest wymagane!</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="role!='admin'&& role!='user'">
      <button mat-raised-button (click)="loginFunc()" color="primary">Zaloguj</button>
    </div>
  </mat-card-actions>
  <div *ngIf="role=='admin'|| role=='user'">
    <button  mat-button (click)="logoutFunc()" color="primary">Wyloguj</button>
  </div>
</mat-card>
