<mat-toolbar color="primary">

  <span class="example-spacer"></span>

  <button [disabled]="myDisabled" mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<h1 align="center">System biletowy</h1>
<br>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="startPage()"> Start</button>
  <button mat-menu-item (click)="eventsPage()"> Events</button>
  <button mat-menu-item (click)="usersPage()"> Users</button>
</mat-menu>

<router-outlet></router-outlet>
